First we import data from Yahoo Finances

In [1]:
all_data = ['NFLX','AMZN','BABA','AAPL','TWTR','SPY','BTC-USD']

In [2]:
import pandas_datareader as data
import pandas as pd

In [3]:
data_source = 'yahoo'
start_date = '2015-01-01'
end_date = '2022-08-01'
Netflix = data.DataReader('NFLX', data_source, start_date, end_date)
Apple = data.DataReader('AAPL', data_source, start_date, end_date)
AliBaba = data.DataReader('BABA', data_source, start_date, end_date)
Amazon = data.DataReader('AMZN', data_source, start_date, end_date)
Twitter = data.DataReader('TWTR', data_source, start_date, end_date)
Spy = data.DataReader('SPY', data_source, start_date, end_date)
Bitcoin = data.DataReader('BTC-USD', data_source, start_date, end_date)

In [4]:
df = pd.concat([Netflix, Apple, AliBaba, Amazon, Twitter, Spy, Bitcoin], axis=1, keys=all_data)
df.head(5)

                 NFLX                                                          \
                 High        Low       Open      Close      Volume  Adj Close
Date
2015-01-01        NaN        NaN        NaN        NaN         NaN        NaN
2015-01-02  50.331429  48.731430  49.151428  49.848572  13475000.0  49.848572
2015-01-03        NaN        NaN        NaN        NaN         NaN        NaN
2015-01-04        NaN        NaN        NaN        NaN         NaN        NaN
2015-01-05  49.258572  47.147144  49.258572  47.311428  18165000.0  47.311428

                 AMZN                               ...         SPY  \
                 High        Low     Open    Close  ...        Open
Date                                                ...
2015-01-01        NaN        NaN      NaN      NaN  ...         NaN
2015-01-02  27.860001  26.837500  27.8475  27.3325  ...  206.380005
2015-01-03        NaN        NaN      NaN      NaN  ...         NaN
2015-01-04        NaN        NaN      NaN      NaN  ...         NaN
2015-01-05  27.162500  26.352501  27.0725  26.5625  ...  204.169998

                                                    BTC-USD              \
                 Close       Volume   Adj Close        High         Low
Date
2015-01-01         NaN          NaN         NaN  320.434998  314.002991
2015-01-02  205.429993  121465900.0  179.010849  315.838989  313.565002
2015-01-03         NaN          NaN         NaN  315.149994  281.082001
2015-01-04         NaN          NaN         NaN  287.230011  257.612000
2015-01-05  201.720001  169632600.0  175.777939  278.341003  265.084015


                  Open       Close    Volume   Adj Close
Date
2015-01-01  320.434998  314.248993   8036550  314.248993
2015-01-02  314.079010  315.032013   7860650  315.032013
2015-01-03  314.846008  281.082001  33054400  281.082001
2015-01-04  281.145996  264.195007  55629100  264.195007
2015-01-05  265.084015  274.473999  43962800  274.473999

[5 rows x 42 columns]

We will save our data as .json file so we don't need to upload it everytime

In [5]:
import os

DATA_PATH = 'all_data.json'

if os.path.exists(DATA_PATH):
     #Read from file if we've already downloaded the data.
     with open(DATA_PATH) as f:
          df = pd.read_json(DATA_PATH)

else:
     data_source = 'yahoo'
     start_date = '2015-01-01'
     end_date = '2022-08-01'
     Netflix = data.DataReader('NFLX', data_source, start_date, end_date)
     Apple = data.DataReader('AAPL', data_source, start_date, end_date)
     AliBaba = data.DataReader('BABA', data_source, start_date, end_date)
     Amazon = data.DataReader('AMZN', data_source, start_date, end_date)
     Twitter = data.DataReader('TWTR', data_source, start_date, end_date)
     Spy = data.DataReader('SPY', data_source, start_date, end_date)
     Bitcoin = data.DataReader('BTC-USD', data_source, start_date, end_date)

     #Save file to json in case we need it later. This will prevent from having to re-download it every time.
     df.to_json(DATA_PATH)

In [6]:
df.head()

,"('NFLX', 'High')","('NFLX', 'Low')","('NFLX', 'Open')","('NFLX', 'Close')","('NFLX', 'Volume')","('NFLX', 'Adj Close')","('AMZN', 'High')","('AMZN', 'Low')","('AMZN', 'Open')","('AMZN', 'Close')",...,"('SPY', 'Open')","('SPY', 'Close')","('SPY', 'Volume')","('SPY', 'Adj Close')","('BTC-USD', 'High')","('BTC-USD', 'Low')","('BTC-USD', 'Open')","('BTC-USD', 'Close')","('BTC-USD', 'Volume')","('BTC-USD', 'Adj Close')"
2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,320.434998,314.002991,320.434998,314.248993,8036550,314.248993
2015-01-02,50.331429,48.731430,49.151428,49.848572,13475000.0,49.848572,27.860001,26.837500,27.8475,27.3325,...,206.380005,205.429993,121465900.0,179.010849,315.838989,313.565002,314.079010,315.032013,7860650,315.032013
2015-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,315.149994,281.082001,314.846008,281.082001,33054400,281.082001
2015-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,287.230011,257.612000,281.145996,264.195007,55629100,264.195007
2015-01-05,49.258572,47.147144,49.258572,47.311428,18165000.0,47.311428,27.162500,26.352501,27.0725,26.5625,...,204.169998,201.720001,169632600.0,175.777985,278.341003,265.084015,265.084015,274.473999,43962800,274.473999

In [7]:
#We will divide btc with 100 so it fits with other variableas.
df['BTC-USD'] = df['BTC-USD']/100
df['BTC-USD']

KeyError: 'BTC-USD'

In [ ]:
#We will rename it so it's clear what its value is
df = df.rename(columns={'BTC-USD':'BTC-USD*100'})
df.head()

,"('NFLX', 'High')","('NFLX', 'Low')","('NFLX', 'Open')","('NFLX', 'Close')","('NFLX', 'Volume')","('NFLX', 'Adj Close')","('AMZN', 'High')","('AMZN', 'Low')","('AMZN', 'Open')","('AMZN', 'Close')",...,"('SPY', 'Open')","('SPY', 'Close')","('SPY', 'Volume')","('SPY', 'Adj Close')","('BTC-USD', 'High')","('BTC-USD', 'Low')","('BTC-USD', 'Open')","('BTC-USD', 'Close')","('BTC-USD', 'Volume')","('BTC-USD', 'Adj Close')"
2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,320.434998,314.002991,320.434998,314.248993,8036550,314.248993
2015-01-02,50.331429,48.731430,49.151428,49.848572,13475000.0,49.848572,27.860001,26.837500,27.8475,27.3325,...,206.380005,205.429993,121465900.0,179.010849,315.838989,313.565002,314.079010,315.032013,7860650,315.032013
2015-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,315.149994,281.082001,314.846008,281.082001,33054400,281.082001
2015-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,287.230011,257.612000,281.145996,264.195007,55629100,264.195007
2015-01-05,49.258572,47.147144,49.258572,47.311428,18165000.0,47.311428,27.162500,26.352501,27.0725,26.5625,...,204.169998,201.720001,169632600.0,175.777985,278.341003,265.084015,265.084015,274.473999,43962800,274.473999